################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KuneKune/FileContentIndex/039f0a85-118f-4ba7-930a-9a1677c7e17b.vsidx
/.vs/KuneKune/FileContentIndex/8be88df4-2d5d-4920-bb86-e7cdd1a33a98.vsidx
/.vs/KuneKune/FileContentIndex/91a2458c-0e65-4d9c-a199-0de2baf74856.vsidx
/.vs/KuneKune/FileContentIndex/a63bd31a-c07d-49b9-b9e1-df208d59b29f.vsidx
/.vs/KuneKune/FileContentIndex/d97e6597-dcba-4ef5-a1f3-2b8b7298d20c.vsidx
