
  .containerKeepingH1H2andButtonComponent {
    color: rgb(255, 255, 255);
    text-align: center;
    align-items: baseline;
    position: relative;
    right: 250px;
    h1 {
        font-size: 3.5rem;
    }
  }

  .containerHoldingImageAsBackground {
    width: 100%;
    height: 50vh;
    background-image: url("../src/assets/Piggies.jpg");
    background-position: center;
    background-size: contain; 
}
.containerGivingTheBackgroundThisBlackShade {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}