
// Breakpoints
    $breakpoint-xl: 1200px;
    $breakpoint-lg: 992px;
    $breakpoint-md: 768px;
    $breakpoint-sm: 520px;


// Buttons
    $primaryButton: #396e8f; // Blue
    $actionButton: #e07919; // orange
    $transparentButton: transparent; // transparent

 // Background   
    $dark: #292b2c;

// 

// All of this is subject to change, I just look into differnet animal sites and got insipiration. 
// blue orange seems to be a common theme
